:root {
    --darkSalmon: #E49678;
    --darkJungleGreen: #082629;
    --midnightGreen: #125B62;
    --middleBlueGreen: #81C6BF;
    --azureXwebColor: #D9E9E9;
    --backgroundCoralLight: #F4F0EE;
    --backgroundBlueGreen: #D9E9E7;
    --visitedLinks: #E49678;
    --activeLink: #004349;
    --darkSalmonTransparent: #e4977817;
    --darkJungleGreenTransparent: #0826297c;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: var(--backgroundCoralLight);
    color: var(--darkJungleGreen);
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--darkJungleGreen);
    font-weight: 500;
}

a:link {
    color: var(--darkJungleGreen);
}

/* visited link */
/* a:visited {
    color: var(--visitedLinks);
} */

/* mouse over link */
a:hover {
    color: var(--visitedLinks);
}

/* selected link */
a:active {
    color: var(--activeLink);
}

li {
    list-style: none;
    z-index: 5;
}

h1 {
    font-size: 2em;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
}

h2 {
    font-size: 1.75em;
    font-family: 'Red Hat Text', sans-serif;

}

h3 {
    font-size: 1.5em;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 800;
    opacity: 0.8;
}

h4 {
    font-size: 1.125em;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 700;
}

h5 {
    font-size: 1.125em;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 600;
}

h6 {
    font-size: 0.875em;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 400;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button {
    border: 1px solid var(--middleBlueGreen);
    background: transparent;
    border-radius: 3px;
    padding: 12px 20px;
    /* transition: 0.3s ease-in-out; */
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 800;
    font-size: 1em;
}

button:hover {
    cursor: pointer;
    /* transform: scale(1.05); */
    border: 1px solid var(--darkJungleGreen);
    background-color: transparent;
    /* scale: 1.2em; */

}

.color {
    color: #E49678;
}

.background {
    background-color: var(--darkJungleGreen);
}



.background-logo {
    background-image: url(../images/logo-E49678.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% top;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.05;
    z-index: -1;
}

.background-about {
    background-image: url(../assets/png/about-me-sq.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.25;
    z-index: -1;
}


/********************* header ************************/




/* *********************************** */
.wrapper {
    padding: 0 15px;
    max-width: 1100px;
    margin: 0 auto;
}

#index-top-section,
#about-top-section {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

.index-title,
.about-title {
    position: relative;
    margin-top: 125px;
}

.index-title::before,
.about-title::before {
    content: 'Hi';
    position: absolute;
    top: -3.25rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5rem;
    color: var(--azureXwebColor);
    z-index: -1;
}

.about-title::before {
    content: 'About';
}

.index-top-section-content,
.about-top-section-content {
    margin-top: 15px;
    margin-bottom: 150px;
}

.index-subtitle,
.about-subtitle {
    opacity: 0.8;
    color: var(--midnightGreen);
}


.index-top-section-buttons,
.about-top-section-buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5rem 0 0;
    width: 100%;
    margin-bottom: 200px;
}

.index-top-section-buttons .main-btn-style,
.about-top-section-buttons .main-btn-style {
    background-color: var(--darkSalmon);
    font-size: 1rem;
    margin: 0;
    padding: 10px 25px 9px;
    border-radius: 0 1rem;
    border: 1px solid var(--darkSalmon);

}

.index-top-section-buttons .main-btn-style:hover,
.about-top-section-buttons .main-btn-style:hover {
    background-color: transparent;
}

.secondary-btn-style {
    font-size: 1rem;
    font-weight: 600;
    margin-left: 0;
    padding: 20px 50px 20px 20px;
    position: relative;

}

.secondary-btn-style:before {
    border-bottom: 2px solid var(--darkSalmon);
    bottom: 3px;
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
}

.secondary-btn-style:after {
    content: '>>';
    position: absolute;
    right: 1rem;
    top: 1.125rem;
}

.secondary-btn-style-text {
    position: relative;
    font-size: 1rem;
}

.index-navigation a::after {
    content: '|';
    color: var(--darkSalmon);
    margin: 0 10px;
}

.index-navigation a {
    font-size: 1.5em;
    color: rgb(145, 179, 182);
    /* transform: 0.5s; */
}

.index-navigation a:hover {
    transition: ease-in-out;
    color: var(--darkJungleGreen);
}

.about-title {
    display: block;
    /* margin-bottom: 50px; */
}

.about-top-section-content {
    max-width: 40ch;
    margin: 0 auto 50px;
}

@media screen and (min-width: 500px) {

    .index-title {
        margin-top: 200px;
    }

    .about-title {
        margin-top: 200px;
    }


    .index-title::before {
        top: -8rem;
        font-size: 10rem;
    }

    .about-title::before {
        top: -6rem;
        font-size: 8rem;
    }

    .index-top-section-buttons,
    .about-top-section-buttons {
        flex-direction: row;
    }

    .index-top-section-buttons .main-btn-style,
    .about-top-section-buttons .main-btn-style {
        margin-right: 6rem;
        padding: 20px 50px 18px;
        font-size: 1.125rem;
        border-radius: 0 1.5rem;

    }

    .secondary-btn-style {
        margin-left: -20px;
        font-size: 1.125rem;

    }

    .secondary-btn-style-text {
        font-size: 1.125rem;
    }

}





/* *********************************** */

.top-section {
    position: relative;
    opacity: 1;
    margin: 0 10vw;
    /* height: 100vh;
    max-height: 900px; */
}



.top-section-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(129, 198, 191, 0.25);
    height: 85%;
    max-width: 1440px;
    min-width: 180px;
    margin: 7.5vh auto;
}



.top-section tittle {
    text-align: center;
}

.top-section .social-icons {
    display: flex;
    position: absolute;
    right: 0;
    bottom: -40px;
}


.top-section .social-icons li img {
    max-width: none;
    margin-left: 25px;

}

.top-section-down {
    margin: 50px auto;
}

.top-section-down img {
    transition: 3s;
}

.top-section-down img:hover {
    scale: 1.5;
}


.top-section-box img {
    position: absolute;
    left: 0;
    bottom: -37.5px;
    width: 75px;
    -webkit-animation: spin 30s linear infinite;
    -moz-animation: spin 30s linear infinite;
    animation: spin 30s linear infinite;
    animation-name: spinAround;
}

@-moz-keyframes spinAround {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinAround {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinAround {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.top-section-box-bottom img {
    position: absolute;
    left: 0;
    top: 343px;
    width: 75px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    display: none;
}

/* what I do */

#what-i-do {
    background-color: #F4F0EE;
    position: relative;
    padding: 75px 0;
    max-width: 1440px;
    margin: 0 auto;
}


.what-i-do-containers-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 0.875em;
}

.what-i-do-containers-wrapper h2 {
    margin-bottom: 0 0 25px 0;
}


.what-i-do-containers-wrapper .lottie {
    margin: 0 auto;
    width: 125px;
}

.web-design-container,
.graph-design-container,
.anim-design-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 50px auto 0;
    padding: 2%;
    border-radius: 10px;
    border-bottom: solid 1px var(--darkSalmon);
    box-shadow: 2px 2px 10px 5px #36313046;
}

.web-design-container,
.web-design-container p {
    background: #F2E3DC;
}

.graph-design-container,
.graph-design-container p {
    background: #EED1C5;
}

.anim-design-container,
.anim-design-container p {
    background: #D7E6E2;
}

.web-design-container p,
.graph-design-container p,
.anim-design-container p {
    position: absolute;
    top: 0;
    width: 150px;
}

.web-design-container button,
.graph-design-container button,
.anim-design-container button {
    border: none;
    background-color: transparent;
    margin: 50px auto 25px;
}

.show-text {
    display: none;
}

.what-i-do-get-in-touch {
    background: var(--middleBlueGreen);
    margin: 75px 0 0;
}


/**recent work ********************/

#recent-work {
    padding: 5px 0;
}

.recent-work-wrapper {
    padding: 100px 0;
    margin: 0 5vw;
    background-color: #f2e7e2;

}

.recent-work-containers-wrapper {
    position: relative;
    margin: 50px 0;
}

.recent-work-img {
    margin: 25px 0 50px;
}


.recent-work-text-container-one,
.recent-work-text-container-two {
    padding: 25px 25px 25px 10vw;
    margin: 0 10vw 0 0;
    text-align: left;
    border-radius: 0 15px 15px 0;
    box-shadow: 2px 2px 10px 5px #36313046;

}

.recent-work-img-container-one,
.recent-work-img-container-two {
    position: absolute;
    top: 30%;
    right: -25px;
    text-align: right;
    margin-right: 10vw;
}


.recent-work-image-one,
.recent-work-image-two {
    max-width: 100%;
    filter: grayscale(90%);
    transition: transform .75s;
}

.recent-work-image-one:hover,
.recent-work-image-two:hover {
    filter: none;
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--darkJungleGreen);
}

.recent-work-get-in-touch {
    margin: 50px 0 0 10vw;
    float: left;
    width: 150px;
}


.recent-work-learn-more {
    padding: 0;
}

.recent-work-learn-more:hover {
    border: none;
}

.recent-work-check-mywork {
    background: var(--middleBlueGreen);
}

.recent-work-check-mywork a:hover {
    color: var(--darkJungleGreen);
}

.recent-work-learn-more .arrow-left {
    width: 20px;
    height: 20px;
    float: right;
    padding-right: 5px;
    transform: rotateY(180deg)
}

/* ***************************** */


/**about me ********************/

#about-me {
    background-color: var(--backgroundCoralLight);
    margin: auto;
    width: 100vw;
    max-width: 1440px;

}

.about-me-wrapper {
    position: relative;
}


.about-me-wrapper .about-me-images {
    background-color: rgba(129, 198, 191, 0.25);
    position: relative;
}

.about-me-wrapper .about-me-info {
    background-color: #F4F0EE;
    padding: 100px 25px 50px;
}

.about-me-wrapper .about-me-images.one,
.about-me-wrapper .about-me-images.two {
    position: absolute;
}

.about-me-wrapper .about-me-images.one {
    top: 155px;
    left: 300px;
}

.about-me-wrapper .about-me-images.two {
    top: 50px;
    left: 100px;
}

.about-me-wrapper .about-me-info .about-me-info-text {
    margin: 0 10vw;
}

.about-me-wrapper .about-me-info p {
    margin: 25px auto;
    max-width: 425px;
}

.about-me-wrapper .about-me-info button {
    margin-top: 50px;
}

.lottie-dots {
    position: absolute;
    left: -50px;
    top: -20px;
}

.lottie-dots1 {
    position: absolute;
    right: -25px;
    bottom: -100px;
}

.profile-rossi {
    width: 75px;
    margin: 25px 0;
}




/**contact me ********************/

#contact-me {
    background-color: var(--backgroundCoralLight);
    padding: 0 5vw 50px;
}

.contact-me-wrapper {
    background-color: var(--backgroundBlueGreen);
    padding: 50px 10%;
    max-width: 350px;
    margin: 0 auto;
    border-radius: 5px;
}

.contact-me-wrapper h4 {
    margin: 50px 0;
}

.contact-info {
    margin: 50px auto 0;
}

.contact-info .email-me:before,
.contact-info .call-me:before,
.contact-info .location:before,
.contact-info .github-contact:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 10px 0 0;
}

.contact-info .email-me:before {
    background: url("../images/email.png") no-repeat;
}

.contact-info .call-me:before {
    background: url("../images/phone.png") no-repeat;
}

.contact-info .location:before {
    background: url("../images/location.png") no-repeat;
}

.contact-info .github-contact:before {
    background: url("../images/github.png") no-repeat;
}

/* ***************************** */

.keep-in-touch {
    background-color: var(--middleBlueGreen);
    padding: 1.5em 0;
}

.keep-in-touch h6 {
    margin: 0 0 25px 0;
}

.keep-in-touch .social-icons {
    display: flex;
    justify-content: center;
}


.keep-in-touch .social-icons li img {
    max-width: none;
    margin: 0 10px;
}

.copywright {
    background-color: var(--darkSalmon);
    padding: 1em 0
}

.copywright p {
    font-size: 0.625em;
    font-weight: 600;
}



/************ animated icons *************/

.animated-icons {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px 25px;
    gap: 100px;

}

.lottie-anim {
    height: 200px;
    width: auto;
    padding: 25px;
}

.icon {
    /* padding: 25px; */
    /* box-shadow: 0.5px 0.5px 1px var(--darkJungleGreen); */
    border-radius: 3px;
    border-right: solid 0.1px var(--darkJungleGreenTransparent);
    border-bottom: solid 0.1px var(--darkJungleGreenTransparent);
}


.text-desktop {
    display: none;
}

.text-mobile {
    display: inline-block;
}


/********** screen above 800px ****************/


@media screen and (min-width: 500px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }

    h5 {
        font-size: 1.25em;
    }

    .hiIamRossi {
        margin: 100px 0 50px;
    }

    #what-i-do {
        margin-bottom: 100px;
    }

    .what-i-do-containers-wrapper {
        flex-direction: row;
        padding: 0 5vw;
    }

    #recent-work {
        padding: 0;
        margin: 0 10vw;

    }

    .recent-work-wrapper {
        max-width: 1440px;
        margin: 0 auto;
    }

    .recent-work-containers-wrapper {
        display: flex;

    }


    .recent-work-img {
        margin: 50px 100px;
    }


    .recent-work-get-in-touch {
        margin: 0 auto;
        float: none;
        width: 150px;
    }

    .recent-work-learn-more .arrow-left {
        width: 20px;
        height: 20px;
        float: left;
        padding-right: 5px;
        transform: rotateY(0)
    }


    .box {
        padding: 100px;
        background-color: var(--middleBlueGreen);
        /* margin: 0 10vw; */
        /* max-width: 1440px; */


    }



    /* .work {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 50px;

    } */
    /* 
    .work-cover-container {
        max-width: 400px;
    } */
    /* 
    .work-cover {
        margin: 25px;
    } */

    .animated-icons {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 100px 0;
        gap: 150px;

    }

    .text-desktop {
        display: block;
    }

    .text-mobile {
        display: none;
    }



}

/*****************************/


button#myBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 10;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--darkJungleGreen);
    cursor: pointer;
    padding: 10px 18px 14px;
    border-radius: 50%;
    font-size: 20px;
    rotate: -90deg;
}


/*****************************/